<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Mee Smartwallet</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.swift.mee-ios-client</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mee-client</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.1043231896197-v3uodk6t5u0i7o5al7h901m9s2t2culp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1043231896197-v3uodk6t5u0i7o5al7h901m9s2t2culp</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>PublicSans-Italic.ttf</string>
		<string>PublicSans-Regular.ttf</string>
		<string>PublicSans-Bold.ttf</string>
		<string>PublicSans-Light.ttf</string>
		<string>PublicSans-Medium.ttf</string>
		<string>PublicSans-SemiBold.ttf</string>
	</array>
</dict>
</plist>
