:root {
  color-scheme: light dark;
}

body {
  min-width: 250px;
  width: fit-content;
}
.content {
  padding: 10px;
  font-family: system-ui;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 15px;
}

.container {
  display: flex;
  align-items: center;
}

#current-domain {
  font-size: large;
  white-space: nowrap;
}

#domain-container {
  display: none;
}

.switch {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  width: 39px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
   /*-webkit-transition: transform .4s;*/
   /*transition: transform .4s;*/
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #06ae4d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #06ae4d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

@media (prefers-color-scheme: dark) {
  /* Dark Mode styles go here. */
  body {
    background-color: #1C2833;
    color: #F2F3F4;
  }
  .slider:before {
    background-color: #F2F3F4;
  }
}
